body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  width: 350px;
  margin: 50px auto;
  border: 2px solid black;
  padding: 20px;
  text-align: center;
}

.student-card {
  background: white;
  padding: 15px;
  margin: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px gray;
}

.student-card h3 {
  color: #1f3c5b;
}